@import url('https://fonts.googleapis.com/css2?family= Proxima+Nova :wght@800&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-family: "ProximaNova,Arial,Helvetica Neue,sans-serif;"; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  display: flex;
 
}
.nav{
  margin-left: 180px;
  margin-top: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
}
@media (max-width:500px) {
  .main{
  flex-direction:column;
  margin-left:0;}
  
}
@media (max-width:750px) {
  .main{
  flex-direction:column;
  margin-left:0;
  height: auto;
  width: auto;
}
  
}
#sign{
  color: white;
  background-color: black;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 20px;
}
.nav a:hover{
  color:"#fc8019";
}
.order{
  font-size: 24px;
    font-weight:400;
    width: 600px;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: -.3px;
    color: #686b78;
}
.search{
  width: 300px;
  position: relative;
  display: flex;
}
 .form-control{
  height: 50px;
  width: 400px;
  outline: none;
  display: flex;
}
.form-control:hover{
  border: #fc8019 solid 2px ;
} 
#clear {
  position: absolute;
  top: 0;
  right: -100px;
  z-index: 2;
  border: none;
  top: 12px;
  height: 30px;
  cursor: pointer;
  color: rgb(110, 105, 105);
 background-color: white;
  transform: translateX(2px);
}
#clear:hover{
  background-color: #e1e4e7;
}
 #food{
  padding: 8px 10px;
  background-color:#fc8019 ;
  color: white;
  border: none;
  width: 130px;
  height: 57px;
} 
.pop{
  
  color: #a9abb2;
  font-weight: 400;
  font-size: 15px;
  margin: 30px 0 10px;
  text-transform: uppercase;
}
.city{
  display: inline-block;
    padding: 0;
}
.name{
  font-weight: 600;
    font-size: 16px;
    margin-right: 8px;
    color: #686b78;
    line-height: 1.5;
    letter-spacing: -.3px;
    text-decoration-line: none;
}

.cities{
  width: 570px;
    list-style: none;
    margin: 0;
    padding: 0;

}
.box {
  background: #2b1e16;
  padding: 0 20px;
}
@media (max-width:500px) {
  .box{
    flex-direction: column;
    height: auto;
  }
  
}
@media (max-width:750px) {
  .box{
    flex-direction: column;
    height: auto;
    width: auto;
  }
  
}
.box1 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 80px;
  max-width: 1200px;
  min-width: 1200px;
  margin: auto;
  position: relative;
}
@media(max-width:500px) {
  .nav{
  flex-direction: column;
  margin-left: 0; 
  height: auto;
  }
}
@media(max-width:750px) {
  .nav{
  flex-direction: column;
  margin-left: 0;
  height: auto;
  width: auto;
  }
}
.box2 {
  color: #fff;
  text-align: center;
}
@media (max-width:500px) {
  .box1{
    flex-direction: column;
    height: auto;

  }
  
}

.p1{
  height: 250px;
  display: flex;
    align-items: flex-end;
    justify-content: center;
}
.p2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0 auto;
}
.p3 {
  font-size: 15px;
  width: 260px;
  margin-top: 10px;
  color: #e0cbc1;
  line-height: 1.3;
}
.sec3{
  padding: 0 20px;
  height: 570px;
  overflow: hidden;
}
@media (max-width:500px) {
  .sec3 {
    flex-direction: column;
    height: auto;
  }
  
}
@media (max-width:750px) {
  .sec3 {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  
}
.s1 {
  max-width: 1200px;
  min-width: 1200px;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.heading {
  font-size: 40px;
  font-weight: 600;
  width: 300px;
  line-height: 1;
  letter-spacing: -.45px;
}
.s2 {
  font-size: 20px;
  width: 400px;
  font-weight: 300;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #7e808c;
  line-height: 1.2;
}
.i1 {
  top: 0;
  right: 300px;
  position: absolute;
}
.i2 {
  bottom: 0;
  right: -45px;
  position: absolute;
}
.sec4 {
  padding: 0 20px;
  background-color: #000;
  min-height: 320px;
  color: #fff;
  }

.sec5 {
  position: relative;
  margin: 0 auto;
  padding-top: 76px;
  display: flex;
  height: 100%;
}
.blocks {
  display: block;
  color: inherit;
    font-size: 17px;
    margin-top: 15px;
    text-decoration-line: none;
}
.blocks:hover{
  transform: scaleX(1.1);
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration-line: none;
}
.weight{
  color: inherit;
  font-weight: 300;
  text-decoration-line: none;
  margin-left: 200px;
}
.weight:hover{
  transform: scaleX(1.1);
  font-weight: 400;
  padding: 0px;
}
.sec6 {
 
  display: flex;
  height: 340px;
  border-bottom: 1px solid #4d4d4d;
  justify-content: space-between;
}
@media (max-width:500px) {
  .sec6{
    flex-direction: column;
    height: auto;
  }
  
}
@media (max-width:750px) {
  .sec6{
    flex-direction: column;
    height: auto;
    width: auto;
  }
  
}
.sec7 {
  border-bottom: 1px solid #4d4d4d;
  padding: 30px 0 40px;
  background-color: black;


}
.sec8 {
  color: gray;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 200px;
}
.sec9 {
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 200px;
  margin-right: 200px;
}
@media (max-width:500px) {
  .sec9{
    flex-direction: column;
    height: auto;
  }
  
}
@media (max-width:750px) {
  .sec9{
    flex-direction: column;
    height: auto;
    width: auto;
  }
  
}
.places {
  color: white;
  font-size: 17px;
  margin-top: 15px;
  list-style: none;
  text-transform: capitalize;
}

@media (max-width: 1200px){
  .logos {
    margin-top: 40px;}
}
.logos {
    width: 200px;
    margin-left: 100px;
}
.logos img:hover{
  transform: scaleX(1.1);
}
._2gbMt {
  margin-top: 30px;
}


  @media (max-width: 1200px){
    .sec10, .sec10:last-child {
    min-width: auto;}
}
.footer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 29px 0;
  background-color: black;
  color: white;
  
}
@media (max-width:500px) {
  .footer{
    flex-direction: column;
    height: auto;
  }
  
}
@media (max-width:750px) {
  .footer{
    flex-direction: column;
    height: auto;
    width: auto;
  }
  
}
.f1 {
  fill: #fff;
  width: 142px;
  margin-left: 200px;
  margin-right: 100px;
}
.f2 {
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  font-size: 20px;
  letter-spacing: -.6px;
}
.icon {
  margin-right: 30px;
  display: inline-block;
  transform: scaleX(1);
  will-change: transform;
  transition: transform .5s cubic-bezier(.215,.61,.355,1);
}
.icon:hover{
  transform: scaleX(1.3);
}
#h{
  color: #41434b;
  font-size: 35px;
}
span::before {
  content: "";
  animation: animate infinite 9s;
  
}

@keyframes animate {

  0% {
      content: "Unexpected Guests?";
  }

  20% {
      content: "Game Night?";
  }

  40% {
      content: "Cooking Gone Wrong?";
  }
  60%{
    content:"Late night at office?" ;
  }
  80%{
    content: "Movie marathon?";
  }
  100%{
    content: "Hungry?";
  }
}
